<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuit" verbose="4" parallel="tests" thread-count="2">

  <test name="Login - Mutual Fund" >
    <classes>
      <class name="com.itview.testing.LoginMutualFund"/>
    </classes>
  </test> 
  
  <test name="Login - Orange HRM">
    <classes>
      <class name="com.itview.testing.LoginOrangeHRM"/>
    </classes>
  </test>
  
  
</suite> <!-- RegressionSuit -->
